

.location-listing {
    position: relative;
}
#img1 {
    width: 100%;
    height: auto;
    filter: blur(2px);

}
#img2 {
    width: 100%;
    height: auto;
    filter: blur(2px);

}
#img3 {
    width: 100%;
    height: auto;
    filter: blur(2px);

}
#img4 {
    width: 100%;
    height: auto;
    filter: blur(2px);

}
#foot{
    font-size: 20px;
    font-family: Rubik, serif;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
}
#content1 img{
    position: relative;
    top: 0px;
    right: 0px;
}
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

#myrow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


.column {
    flex: 50%;
    padding: 0 18px;
}

.column img {
    margin-top: 10px;
    vertical-align: middle;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 40px #00000010;
    opacity: 1;
}
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}


@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}




#address{
    font-size: 20px;
    top: 5483px;
    left: 995px;
    width: 311px;
    height: 108px;

    text-align: left;
    font-family:  Rubik;
    letter-spacing: 1.5px;
    color: #0B0B0B;
    opacity: 1;
}
#phone{
    top: 5465px;
    left: 212px;
    width: 25px;
    height: 26px;
    background: transparent src('assets/img/phone.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
#textbox1{
    font-size: 30px;
    text-align: left;
    font:  Rubik;
    letter-spacing: 0.6px;
    color: #333333;
    opacity: 0.55;
}
#textbox2{
    font-size: 30px;
    text-align: left;
    font:  Rubik;
    letter-spacing: 0.6px;
    color: #333333;
    opacity: 0.55;
}


.positioningdiv{
    position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-container2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: normal;
}
.underlier{
    background: transparent linear-gradient(270deg, #FF034A 0%, #D9006D 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.post__media{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 40px #00000010;
    opacity: 1;
    top: 2160px;
    width: 421px;
    height: 452px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*.row{*/
/*    -webkit-column-gap: 40px; !* Chrome, Safari, Opera *!*/
/*    -moz-column-gap: 40px; !* Firefox *!*/
/*    column-gap: 40px;*/
/*}*/
/*.bigbox{*/
/*    top: 1961px;*/
/*    left: 188px;*/
/*    width: 1547px;*/
/*    height: 651px;*/
/*    opacity: 1;*/
/*}*/

.title__title__project{
    /*top: 2879px;*/
    /*left: 188px;*/
    /*width: 236px;*/
    /*height: 69px;*/
    text-align: left;
    font: Bold 58px/69px Rubik;
    letter-spacing: -1.74px;
    color: #0B0B0B;
    opacity: 1;
}
.title__title__service{
    /*top: 2879px;*/
    /*left: 188px;*/
    /*width: 236px;*/
    /*height: 69px;*/
    text-align: left;
    font: Bold 58px/69px Rubik;
    letter-spacing: -1.74px;
    color: #0B0B0B;
    opacity: 1;
}
.title__title__process{
    top: 2879px;
    left: 188px;
    width: 236px;
    height: 69px;
    text-align: left;
    font: Bold 58px/69px Rubik;
    letter-spacing: -1.74px;
    color: #0B0B0B;
    opacity: 1;
}
.title__title__contact{

    text-align: left;
    font: Bold 58px/69px Rubik;
    letter-spacing: -1.74px;
    color: #0B0B0B;
    opacity: 1;
}




/* 1. base
--------------------------------------------------------------------------------*/

a[disabled], input[disabled], button[disabled], textarea[disabled] {
    cursor: not-allowed !important;
    opacity: .5 !important;
}

a:focus, input:focus, button:focus, textarea:focus {
    outline: none;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

.page-wrap {
    overflow: hidden;
}

.md-section {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 9;
    padding-top: 50px;
    padding-bottom: 50px;

}

@media (min-width: 320px) {
    .md-section {
        padding-top: calc(6.81818vw + 28.18182px);
        padding-bottom: calc(6.81818vw + 28.18182px);
    }
}

@media (min-width: 1200px) {
    .md-section {
        padding-top: 110px;
        padding-bottom: 110px;
    }
}

.md-text-left, .text-left {
    text-align: left !important;
}

.md-text-center, .text-center {
    text-align: center !important;
}

.md-text-right, .text-right {
    text-align: right !important;
}

.md-text-underline {
    text-decoration: underline !important;
}

.md-round {
    border-radius: 5px !important;
}

.md-pill {
    border-radius: 50% !important;
}

.md-tb {
    display: table;
    width: 100%;
    height: 100%;
}

.md-tb__cell {
    display: table-cell;
    vertical-align: middle;
}

.md-overlay, [data-gradient-bg] > canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.md-overlay {
    background-color: rgba(0, 0, 0, .4);
}

.bg-fixed {
    background-attachment: fixed;
}

.md-bg-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.full {
    width: 100%;
    height: 100vh;
}

/*.embed-responsive {*/
/*    position: relative;*/
/*    display: block;*/
/*    height: 0;*/
/*    padding: 0;*/
/*    overflow: hidden;*/
/*}*/

/*.embed-responsive.embed-responsive-4by3 {*/
/*    padding-bottom: 75%;*/
/*}*/

/*.embed-responsive.embed-responsive-16by9 {*/
/*    padding-bottom: 56.25%;*/
/*}*/

/*.embed-responsive .embed-responsive-item, .embed-responsive iframe,*/
/*.embed-responsive embed, .embed-responsive object {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border: 0;*/
/*}*/

/* table Responsive */

.table-responsive-01 {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

.table-responsive-01 table > thead > tr > th,
.table-responsive-01 table > thead > tr > td,
.table-responsive-01 table > tbody > tr > th,
.table-responsive-01 table > tbody > tr > td,
.table-responsive-01 table > tfoot > tr > th,
.table-responsive-01 table > tfoot > tr > td {
    white-space: nowrap;
}

@media (max-width: 991px) {
    .table-responsive-02 table, .table-responsive-02 thead,
    .table-responsive-02 tbody, .table-responsive-02 th, .table-responsive-02 td,
    .table-responsive-02 tr {
        display: block;
    }

    .table-responsive-02 thead {
        border-top: 1px solid #e8e8e8 !important;
        border-bottom: none !important;
    }

    .table-responsive-02 thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-responsive-02 tr {
        padding: 15px 0;
        border-left: 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
    }

    .table-responsive-02 td {
        position: relative;
        padding: 15px 10px 15px 30% !important;
    }

    .table-responsive-02 td:before {
        content: attr(data-th);
        position: absolute;
        top: 15px;
        left: 20px;
        width: 25%;
        padding-right: 10px;
    }
}
a {
    color: #748182;
}

a:hover {
    text-decoration: none;
    color: #748182;
}

a:focus {
    text-decoration: none;
}

::-moz-selection {
    color: #fff;
    background-color: #333;
}

::selection {
    color: #fff;
    background-color: #333;
}

.md-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: 320px) {
    .md-section {
        padding-top: calc(11.36364vw + 13.63636px);
        padding-bottom: calc(11.36364vw + 13.63636px);
    }
}

@media (min-width: 1200px) {
    .md-section {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #dfdfdf;
}

.page-wrap {
    position: relative;
}



/* 2. button
--------------------------------------------------------------------------------*/

.md-btn {
    display: inline-block;
    border: 2px solid #dfdfdf;
    box-shadow: none;
    outline: none;
    margin: 0;
    text-align: center;
    font-size: 14px;
    padding: 9px 12px;
    color: #000;
    background-color: transparent;
    transition: all .3s ease;
    text-decoration: none;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
    line-height: 1;
}

.md-btn:hover {
    background-color: #333;
    color: #fff;
    border-color: #333;
}

.md-btn[disabled] {
    opacity: .65;
    cursor: not-allowed;
}

.md-btn--primary {
    background-color: #19c2c9;
    color: #fff;
}

.md-btn--primary:hover {
    background-color: #000;
    color: #fff;
}

.md-btn--primary:focus {
    background-color: #000;
    color: #fff;
}

.md-btn--success {
    background-color: #5cb85c;
    color: #fff;
}

.md-btn--success:hover {
    background-color: #449d44;
    color: #fff;
}

.md-btn--success:focus {
    background-color: #449d44;
    color: #fff;
}

.md-btn--info {
    background-color: #5bc0de;
    color: #fff;
}

.md-btn--info:hover {
    background-color: #31b0d5;
    color: #fff;
}

.md-btn--info:focus {
    background-color: #31b0d5;
    color: #fff;
}

.md-btn--warning {
    background-color: #f0ad4e;
    color: #fff;
}

.md-btn--warning:hover {
    background-color: #ec971f;
    color: #fff;
}

.md-btn--warning:focus {
    background-color: #ec971f;
    color: #fff;
}

.md-btn--danger {
    background-color: #d9534f;
    color: #fff;
}

.md-btn--danger:hover {
    background-color: #c9302c;
    color: #fff;
}

.md-btn--danger:focus {
    background-color: #c9302c;
    color: #fff;
}

.md-btn--link {
    background-color: transparent;
    color: #fe6565;
}

.md-btn--link:hover {
    background-color: transparent;
    color: #fe6565;
    text-decoration: underline;
}

.md-btn--link:focus {
    background-color: transparent;
    color: #fe6565;
}

.md-btn--dark {
    background-color: #000;
    color: #fff;
}

.md-btn--dark:hover {
    background-color: #fe6565;
    color: #fff;
}

.md-btn--dark:focus {
    background-color: #fe6565;
    color: #fff;
}

.md-btn--xs {
    padding: 6px 15px;
    font-size: 12px;
}

.md-btn--sm {
    padding: 8px 15px;
    min-width: 100px;
    font-size: 12px;
}

.md-btn--md {
    padding: 10px 20px;
    min-width: 140px;
    font-size: 14px;
}

.md-btn--lg {
    padding: 14px 24px;
    min-width: 160px;
    font-size: 16px;
}

.md-btn--square {
    border-radius: 0;
}

.md-btn--round {
    border-radius: 5px;
}

.md-btn--pill {
    border-radius: 40px;
}

.md-btn--block {
    display: block;
    width: 100%;
}

.md-btn--disabled {
    opacity: .65;
    cursor: not-allowed;
}



/**/
/* Typography */

body {
    margin: 0;
    padding: 0;
    line-height: 2.1;
    font-size: 14px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #748182;
}

body.md-skin-dark {
    background-color: #333;
}

.md-skin-dark {
    color: rgba(255, 255, 255, .8);
}

.md-skin-dark h1, .md-skin-dark h2, .md-skin-dark h3, .md-skin-dark h4,
.md-skin-dark h5, .md-skin-dark h6 {
    color: #fff;
}

p {
    margin-bottom: 16px;
}

a {
    transition: all .3s ease;
}

a, input, textarea, select {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.1;
    color: #333;
    font-family: Rubik, serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 60px;
    top: 461px;
    left: 183px;
    width: 989px;
    height: 95px;
}

h2 {
    font-size: 52px;
}

h3 {
    font-size: 44px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 28px;
}

h6 {
    font-size: 18px;
}

h3, h1, h2, h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}

h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}

blockquote {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    border: 0;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

blockquote p {
    font-style: italic;
    margin-bottom: 0;
}

blockquote i {
    font-size: 40px !important;
    margin-bottom: 20px;
}

blockquote cite {
    display: block;
    font-size: 16px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin-top: 15px;
}

blockquote small {
    font-weight: 400;
}

@media (min-width: 768px) {
    blockquote {
        font-size: 24px;
    }
}

abbr {
    color: #67dee8;
    border-width: 2px;
}

mark, .mark {
    background-color: #19c2c9;
    color: #fff;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* 4. contact
--------------------------------------------------------------------------------*/

.contact {
    position: relative;
    margin-bottom: 20px;
    z-index: 9;
}

.contact__icon {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 30px;
    line-height: 1;
}

.contact__title {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 5px;
}



/*!* 6. grid-css*/
/*--------------------------------------------------------------------------------*!*/

/*.grid-css {*/
/*    margin: 0;*/
/*}*/

/*.grid-css .grid-item, .grid-css .grid-sizer {*/
/*    width: 100%;*/
/*}*/

/*.grid-css .grid-item .grid-item__inner .grid-item__content-wrapper {*/
/*    background-color: #ccc;*/
/*}*/

/*.grid-css.grid-css--grid .grid-item__content-wrapper {*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*}*/

/*.filter {*/
/*    margin: 0 -10px 30px;*/
/*}*/

/*.filter li {*/
/*    display: inline-block;*/
/*}*/

/*.filter li.current a {*/
/*    color: #19c2c9;*/
/*}*/

/*.filter a {*/
/*    display: block;*/
/*    position: relative;*/
/*    font-size: 14px;*/
/*    font-weight: 500;*/
/*    text-transform: capitalize;*/
/*    color: #748182;*/
/*    padding: 5px 10px;*/
/*}*/


/* 7. portfolio
--------------------------------------------------------------------------------*/

.portfolio {
    position: relative;
    z-index: 9;
    transition: all .3s ease;
}

.portfolio:after {
    content: '';
    display: block;
    padding-top: 100%;
}

.portfolio:hover {
    box-shadow: 0 16px 22px 0 rgba(90, 91, 95, .3);
}

.portfolio__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.portfolio__bg img {
    display: none !important;
}

.portfolio__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
}

.grid-item__content-wrapper .portfolio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid-item__content-wrapper .portfolio:after {
    display: none;
}


/* 8. post
--------------------------------------------------------------------------------*/



.post__title {

    position: relative;
    font-size: 40px;
    font: Rubik;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

}

.post__title a:hover {
    color: #19c2c9;
}

.post__text {
    margin-bottom: 20px;
}

.post__meta {
    text-transform: capitalize;
    font-size: 12px;
    margin-bottom: 15px;
}

.post__meta > span + span:before {
    content: '-';
    display: inline-block;
    margin: 0 5px;
}


/* 9. service_02
--------------------------------------------------------------------------------*/

.service {
    position: relative;
    padding-left: 70px;
    margin-bottom: 30px;
}

.service:hover .service__title, .service:hover .service__icon {
    color: #19c2c9;
}

.service__title, .service__icon {
    transition: all .3s ease;
}

.service__icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px;
    line-height: 1;
    color: #333;
    margin-bottom: 10px;
}

.service__title {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 8px;
}

.service__text {
    margin-bottom: 0;
}


/* 10. slide-image
--------------------------------------------------------------------------------*/

.slide-image {
    position: relative;
    margin-bottom: 50px;
}

.slide-image .slide-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-image .slide-image__front {
    width: 70%;
    margin-left: 0;
    position: static;
}

.slide-image .slide-image__front .slide-item:after {
    content: '';
    display: block;
    padding-top: 130%;
}

.slide-image .slide-image__black {
    width: 50%;
    margin-left: 0;
    position: absolute;
    top: 45%;
    right: 0;
    z-index: 99;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
}

.slide-image .slide-image__black .slide-item:after {
    content: '';
    display: block;
    padding-top: 128%;
}

.slide-image .swiper-pagination-custom {
    position: absolute;
    right: 0;
    bottom: -45px;
    margin-top: 0;
}


/* 11. socialicon
--------------------------------------------------------------------------------*/

.social-icon {
    display: inline-block;
    margin: 5px 10px;
    transition: all .3s ease;
    color: #333;
}

.social-icon__text {
    margin-left: 6px;
}


/* 12. swiper
--------------------------------------------------------------------------------*/


/* 13. title
--------------------------------------------------------------------------------*/

.title {
    margin-bottom: 40px;
}

.title__title {
    font-size: 24px;
    font-weight: bold;
    text-underline: #FF034A;
    margin-top: 0;
    margin-bottom: 0;
    top: 1261px;
    left: 188px;
    width: 307px;
    height: 69px;
    text-align: left;
    font: Bold 58px/69px Rubik;
    letter-spacing: -1.74px;
    color: #0B0B0B;
    opacity: 1;

}


/* 14. typing
--------------------------------------------------------------------------------*/

.typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink .7s infinite;
    -moz-animation: blink .7s infinite;
    animation: blink .7s infinite;

}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* 15. footer
--------------------------------------------------------------------------------*/

.footer {
    position: relative;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 40px 0;
}

.footer #back-to-top {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -20px;
    height: 40px;
    line-height: 48px;
    color: #333;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    font-size: 36px;
    text-align: center;
    z-index: 99;
}

.footer__wrapper {
    position: relative;
}

.footer__social {
    margin-bottom: 0;
}

.footer__social a {
    color: #fff;
}

.footer__social a:hover {
    color: #19c2c9;
}

.footer__copy {
    color: #f1f1f1;
    margin-bottom: 0;
    font-weight: 300;
}

@media (min-width: 993px) {
    .footer {
        padding: 80px 0;
    }
}


/* 16. header-01
--------------------------------------------------------------------------------*/

.header {
    padding: 10px 0;
    transition: all .3s cubic-bezier(.91, .04, .13, .99);
    position: relative;
}
/*.quarterCircleBottomRight{*/
/*    top: -209px;*/
/*    left: 1420px;*/
/*    width: 708px;*/
/*    height: 708px;*/
/*    border-radius: 0 0 0 90px;*/
/*    background: transparent linear-gradient(180deg, #FF034A 0%, #D9006D 100%) 0% 0% no-repeat padding-box;*/
/*    opacity: 1;*/
/*}*/
.header.header--fixed {
    position: fixed;
    /*top: -100%;*/
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
}

.header.is-scroll {
    top: 0;
    box-shadow: 0 2px 50px 0 rgba(0, 0, 0, .15);
}
#app{
    color:#FF034A;
    width: 85px;
    height: 36px;
    opacity: 1;
    font-family: Rubik, Serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;

}
#app2{
    color:#FF034A;
    width: 85px;
    height: 36px;
    opacity: 1;
}
#lutions{
    color:#0B0B0B;
    font-family: Rubik, Serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.header__inner {

    position: relative;
    padding-right: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.onepage-nav {
    z-index: 999;
}

.onepage-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.onepage-nav li {
    position: relative;
    z-index: 9;
}

.onepage-nav li a {
    display: block;
    position: relative;
    text-decoration: none;
}

@media (min-width: 1201px) {
    .onepage-nav {
        text-align: center;
    }

    .onepage-nav li:hover > a {
        color: #19c2c9;
    }

    .onepage-nav .onepage-menu .sub-menu {
        opacity: 0;
        visibility: hidden;
    }

    .onepage-nav .onepage-menu li:hover > .sub-menu {
        opacity: 1;
        visibility: visible;
    }

    .onepage-nav .onepage-menu a {
        padding: 20px 30px;
    }

    .onepage-nav .onepage-menu .sub-menu {
        text-align: left;
        padding: 0 2px;
    }

    .onepage-nav .onepage-menu .sub-menu li {
        background-color: #111;
    }

    .onepage-nav .onepage-menu .sub-menu li:first-child {
        padding-top: 18px;
    }

    .onepage-nav .onepage-menu .sub-menu li:last-child {
        padding-bottom: 18px;
    }

    .onepage-nav .onepage-menu .sub-menu a {
        color: #eee;
        padding: 2px 25px;
    }

    .onepage-nav .onepage-menu .sub-menu a:after {
        right: 15px;
    }

    .onepage-nav .onepage-menu > li {
        display: inline-block;
    }

    .onepage-nav .onepage-menu a {
        font-size: 16px;
        color: #748182;
        transition: all 300ms ease;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        text-transform: capitalize;
        padding: 10px 20px;
    }

    .onepage-nav .onepage-menu .sub-menu {
        display: block !important;
    }

    .onepage-nav .onepage-menu .sub-menu .current-menu-parent > a,
    .onepage-nav .onepage-menu .sub-menu .current-menu-item > a {
        color: #FF034A;
    }

    .onepage-nav .onepage-menu .current-menu-parent > a,
    .onepage-nav .onepage-menu .current-menu-item > a {
        color: #FF034A;
    }

    .onepage-nav .onepage-menu .sub-menu {
        width: 200px;
        position: absolute;
        top: 100%;
        z-index: -1;
        left: 0;
        transition: all 300ms ease;
    }

    .onepage-nav .onepage-menu .sub-menu .sub-menu {
        top: 0;
        left: 100%;
    }

    .onepage-nav .onepage-menu .sub-menu li > a {
        font-size: 14px;
        transition: all 300ms ease;
    }

    .onepage-nav .onepage-menu .sub-menu li:hover > a {
        color: #4aa8ff;
    }

    .onepage-nav .onepage-toggle-menu {
        display: none;
    }
}

@media (max-width: 1200px) {
    .onepage-nav .onepage-menu {
        position: fixed;
        top: 0;
        will-change: transform;
    }

    .onepage-nav .onepage-menu a {
        font-size: 14px;
    }

    .onepage-nav .onepage-menu a:after {
        right: 0;
        width: 50px;
        text-align: center;
    }

    .onepage-nav .onepage-menu .sub-menu {
        display: none;
    }

    .onepage-nav .onepage-menu {
        background-color: #111;
    }

    .onepage-nav .onepage-menu a {
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        color: #eee;
    }

    .onepage-nav .onepage-menu a:after {
        border-left: 1px solid rgba(255, 255, 255, .1);
    }

    .onepage-nav .onepage-menu {
        left: 0;
        width: 280px;
        background-color: #111;
        -webkit-transform: translate(-100%, 0);
                transform: translate(-100%, 0);
    }

    .onepage-nav .active.onepage-menu {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }

    .onepage-nav .onepage-menu {
        z-index: 99999;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: left;
        width: 300px;
        transition: all 300ms ease;
    }

    .onepage-nav .onepage-menu li {
        position: relative;
    }

    .onepage-nav .onepage-menu a {
        padding: 12px 15px;
        font-size: 16px;
        text-transform: capitalize;
        color: #748182;
    }

    .onepage-nav .onepage-menu a:hover {
        color: #fff;
    }

    .onepage-nav .onepage-menu .active > a {
        color: #fff;
    }

    .onepage-nav .onepage-menu .current-menu-parent > a,
    .onepage-nav .onepage-menu .current-menu-item > a {
        color: #fff;
    }

    .onepage-nav .onepage-menu .sub-menu a {
        padding: 12px 15px;
    }

    .onepage-nav .onepage-menu .sub-menu .menu-item-has-children > a:hover {
        color: #748182;
    }

    .onepage-nav .onepage-menu .sub-menu .menu-item-has-children.active > a {
        color: #748182;
    }

    .onepage-nav .onepage-toggle-menu {
        display: block;
    }
}

.onepage-nav {
    display: inline-block;
    vertical-align: middle;
}

.onepage-nav li.current a {
    color: #FF034A;
}

.onepage-menu.active ~ .navbar-toggle span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.onepage-menu.active ~ .navbar-toggle span:nth-child(2) {
    opacity: 0;
    left: -40px;
}

.onepage-menu.active ~ .navbar-toggle span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

@media (min-width: 1201px) {
    .onepage-menu li a:after {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 20px;
        width: 0;
        height: 2px;
        background-color: #19c2c9;
        transition: all .3s ease;
    }

    .onepage-menu li.current-menu-item a:after {
        width: 15px;
    }

    .navbar-toggle {
        display: none;
    }
}

.navbar-toggle {
    position: absolute;
    right: 0;
    top: 50%;
    width: 30px;
    height: 23px;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.navbar-toggle span {
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    background-color: #19c2c9;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.navbar-toggle span:nth-child(1) {
    top: 0;
}

.navbar-toggle span:nth-child(2) {
    top: 10px;
}

.navbar-toggle span:nth-child(3) {
    top: 20px;
}

@media (min-width: 1201px) {
    .header {
        padding: 20px 0;
    }

    .header__inner {
        padding-right: 0;
    }
}


/* 17. hero
--------------------------------------------------------------------------------*/

.hero {
    position: relative;
    background-color: #FFFFFF;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0 100px;
}
/* .container>.row {clear:both} */
/* .container > .row { display: flex; } */
/* 
* This is to fix layout issues in Safari
* source:
* https: //stackoverflow.com/questions/49403391/bootstrap-4-safari-on-mac-grid-issue
*/
.row:before,
.row:after {
    display: none !important;
}
.hero__wrapper #back-to-down {
    display: inline-block;
    font-size: 40px;
    margin-top: 30px;
    line-height: 1;
    color: #fff;
    -webkit-animation: bounce 2s infinite;
            -moz-animation: bounce 2s infinite;
    cursor: pointer;


}

@media (min-width: 320px) {
    .hero__wrapper #back-to-down {
        font-size: calc(3.40909vw + 29.09091px);
    }
}

@media (min-width: 1200px) {
    .hero__wrapper #back-to-down {
        font-size: 70px;
    }
}

@media (min-width: 320px) {
    .hero__wrapper #back-to-down {
        margin-top: calc(4.54545vw + 15.45455px);
    }
}

@media (min-width: 1200px) {
    .hero__wrapper #back-to-down {
        margin-top: 70px;
    }
}

.hero__title {
    text-align: left;
    font: Bold 80px/95px Rubik;
    letter-spacing: -2.4px;
    color: #0B0B0B;
    opacity: 1;
    font-size: 35px;


    /*font-size: 40px;*/
    /*font-weight: bold;*/
    /*text-transform: uppercase;*/
    /*margin-top: 0;*/
    /*margin-bottom: 25px;*/
}

/*@media (min-width: 320px) {*/
/*    .hero__title {*/
/*        font-size: calc(4.54545vw + 25.45455px);*/
/*    }*/
/*}*/

@media (min-width: 1200px) {
    .hero__title {
        font-size: 80px;
    }
}

.hero__title .typing__module {
    display: inline-block;
}

.hero__text {
    text-align: left;
    font: Regular 30px/36px Rubik;
    letter-spacing: 0.6px;
    color: #333333;
    opacity: 0.55;
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
}

@keyframes bounce {
    0%, 100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
}

@media (min-width: 1201px) {
    .hero {
        height: 100vh;
        padding: 0;
    }

    .hero__wrapper {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
}






/* 18. Layout
--------------------------------------------------------------------------------*/

.main-content, .sidebar-left, .sidebar-right {
    margin-bottom: 40px;
}

.sidebar-left .form-item--button .select2-container--default .select2-selection--single .select2-selection__arrow,
.sidebar-right .form-item--button .select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 25px;
    border-left: 0;
}

.sidebar-left .form-item--button .md-btn,
.sidebar-right .form-item--button .md-btn {
    padding-left: 20px;
    padding-right: 20px;
}


/* 19. Grid Boostrap 
--------------------------------------------------------------------------------*/




/* 20. Font size
--------------------------------------------------------------------------------*/

.f-subtitle {
    font-size: 22px;
    font-weight: 300;
}

.fz-16 {
    font-size: 20px;
    alignment: left;
}

.bg-gray {
    background-color: #f5f5f5;
}






